pandas==2.1.0
numpy==1.26.4
requests
redis
prettytable
pymysql
chardet

pyecharts==2.0.8
dbutils
apscheduler
tenacity
flask
flask-login
gevent
tornado
sqlalchemy
lark-oapi
czsc>=0.10.0

mytt
matplotlib
tqdm
playwright
openai

ccxt
tzlocal
pytz
TA-Lib
